@charset "UTF-8";

html,
body {
  font-family: GillSans, Calibri, Trebuchet, Hiragino Kaku Gothic ProN,
    Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
}

/**
 * 
 * ここから下に教材でレクチャーされたCSSを追加
 *
 **/
 .seat__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #5ac4fe;
  color: #fff;
  font-size: 24px;
 }
 .wrapper{
  max-width: 560px;
  margin: auto;
 }

 .seat__body{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
 }

 .seat__header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
 }

 .seat{
  padding: 100px 0 0;
 }